body {
    background-image: url(../img/ferreteria.jpg);
}

.navbar .Logo {
    width: 100px;
}

.navbar .navbar-brand {
    font-size: 22px;
    font-weight: 800;
}

.card:hover img {
    transform: scale(1.1);
    font-weight: 800;
}

section {
    padding-top: 30px;
    padding-bottom: 30px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.form-register {
    width: 400px;
    background: #24303c;
    padding: 30px;
    margin: auto;
    margin-top: 100px;
    border-radius: 4px;
    font-family: 'calibri';
    color: white;
    box-shadow: 7px 13px 37px rgb(229, 255, 0);
}

.form-register h4 {
    font-size: 22px;
    margin-bottom: 20px;
}

.form-register .botons {
    width: 100%;
    display: inline-block;
    text-decoration: none;
    text-align: center;
    background: #1f53c5;
    border: none;
    padding: 12px;
    color: white;
    margin: 16px 0;
    font-size: 16px;
}